
<div id = 'homepage-container' class = 'centered row'>
  <h1>PooBLe</h1>
  	<div id = 'search-input-div'><input id = 'search-input' class = 'form-control' type = 'text' placeholder = 'Search PBL Links' ng-keyup="$event.keyCode == 13 && searchGoLinks()"></input>
      <div class = 'text-muted' ng-show = 'golinks != null'>Displaying {{golinks.length}} results</div>
    </div>



  </div>

  <div class = 'row' ng-show = 'golinks == null' ng-controller = 'TrendsController'>
    <div class = 'col-md-3 pushdown'>
      <div class = 'card'>
        <h3>Recently added</h3>
        <div ng-repeat = 'golink in recentGolinks'>{{golink.num_clicks}}: <a href = 'http://testing.berkeley-pbl.com/go/redirect_id/{{golink.id}}'>{{golink.key}}</a></div>
      </div>
    </div>
    <div class = 'col-md-6'>
      <div class = 'card'>
        <div class = 'centered'>
          <h1>Welcome to PooBLe</h1>
          <p>PooBLe is our newly redesigned frontend for PBL Links</p>
          <p>Pooble is here to help you access and discover PBL Resources fast!</p>
          <p>Think Google, but for PBL.</p>
          <p>Wanna find something in PBL?</p>
          <p>Well...</p>
          <h3>PooBLe it!</h3>
          <img src = 'https://media4.giphy.com/media/9PsgUfyrNiKK4/200_s.gif' height=150/>
        </div>
        <h3>How to get started</h3>
        <ol>
          <li>Search for a PBL Link in the search box above and press Enter</li>
          <li>Your search results will appear on the left along with helpful pages and posts we find on the right. (for example, search <div class = 'label label-default'>#bieber</div>)</li>
          <li>Help create and curate links and content on PBL Links! You can add links using our <a href = 'http://pbl.link/chrome-extension'>pbl.link/chrome-extension</a>. You can create pages and help sort/group links under the <b>Pages</b> tab.</li>
          <li>Have fun. Be safe.</li>
        </ol>
        <h3>PooBLe Guide</h3>
        <p>Here's a handy guide to all the features in PooBLe and how you can use them</p>
        <h4>Pages</h4>
        <h4>Insights</h4>
        <h4>Sharing</h4>
      </div>
    </div>
    <div class = 'col-md-3 pushdown'>
      <div class = 'card'>
        <h3>Trending</h3>
        <div ng-repeat = 'data in trendingGolinks | orderBy:"-num_clicks" | limitTo:25'>{{data.num_clicks}}: <a href = 'http://testing.berkeley-pbl.com/redirect_id/{{data.golink.id}}'>{{data.golink.key}}</a></div>
      </div>
      <div class = 'card'>
        <h3>Most Popular</h3>
        <div ng-repeat = 'golink in popularGolinks | limitTo:15'>{{golink.num_clicks}}: <a href = 'http://testing.berkeley-pbl.com/redirect_id/{{golink.id}}'>{{golink.key}}</a></div>
      </div>
    </div>
  </div>


  <div class = 'row'>
    <div class = 'col-md-6'>
      
      <div class = 'golinks-container'>
    		<div ng-repeat='golink in golinks' class = 'golink-div' >
          <div id = '{{golink.id}}-div'>
          <div class = 'show-content' ng-hide = 'editing'>
            <div>
              <div class = 'pull-right'><img class = 'type-image' ng-src = './images/{{ image_hash[golink.type] }}'/></div>
              <div class = 'left-content'>
                <div><a class = 'blue' href = '{{golink.url}}'>{{golink.key}}</a></div>
                <div class = 'green'>{{golink.url | limitTo:70}}</div>
                <div class = ''>{{golink.description}}</div>
                <div class = 'text-muted'>{{golink.time}} - Added by: <a href = 'javascript:void(0)' class= 'member-link'>{{golink.member_email}}</a>, Permissions: <span class = 'permissions-span'>{{golink.permissions}}</span>, {{golink.num_clicks}} clicks
                </div>
                <div>
                  tags: <a href = 'javascript:void(0)' class = 'tag-label' ng-repeat = 'tag in golink.tags' ng-click = 'searchTag(tag)'>{{tag}}</a>
                </div>
                <div><a href = 'javascript:void(0)' ng-click='editing = true'>Edit</a></div>
              </div>
            </div>
          </div>
          <!-- end of show content -->

          <div ng-show='editing' class = 'editing-content'>
            <div class="input-group">
              <span class="input-group-addon" id="key-addon-{{golink.id}}">Key</span>
              <input id = '{{golink.id}}-key-input' type="text" class="form-control" placeholder="Key" aria-describedby="key-addon-{{golink.id}}" value = '{{golink.key}}'>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="key-addon-{{golink.id}}">URL</span>
              <input id = '{{golink.id}}-url-input' type="text" class="form-control" placeholder="URL" aria-describedby="key-addon-{{golink.id}}" value = '{{golink.url}}'>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="key-addon-{{golink.id}}">Description</span>
              <input id = '{{golink.id}}-description-input' type="text" class="form-control" placeholder="Description" aria-describedby="key-addon-{{golink.id}}" value = '{{golink.description}}'>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="key-addon-{{golink.id}}">Tags</span>
              <input id = '{{golink.id}}-tags-input' type="text" class="form-control" placeholder="Tags (comma,separated)" aria-describedby="key-addon-{{golink.id}}" value = '{{golink.tags.join(",")}}'>
            </div>

            <div class = 'input-group'>
              <span class = 'input-group-addon' id = 'key-addon-{{golink.id}}'>Permissions</span>
              <select  id = '{{ golink.id }}-permissions-input' class = 'form-control permissions-input' aria-describedby="key-addon-{{golink.id}}">
                <option ng-repeat = 'option in permissionsOptions' ng-selected="option == golink.permissions">{{option}}</option>
              </select>
              
            
          </div>
            
            <div><a href = 'javascript:void(0);' ng-click= 'saveGoLink(golink); editing=false'>Save</a> | <a href = 'javascript:void(0);' ng-click='editing = false'>Cancel</a> | <a href = 'javascript:void(0)' ng-click='deleteGoLink(golink)'>Delete</a>
            </div>
          </div>
          <!-- end of editing -->
          </div>
          <!-- end of id div -->
          </div>
          <!-- end of golink -->
        </div>
        <!-- end of golinks container -->
     </div>
     <!-- end of col -->

    <div class = 'col-md-6'>
      <div class = 'card' ng-show = 'searchPost'>
        <div id = 'search-post-div'></div>
      </div>
      <div class = 'card' ng-show = 'searching'>
        <h2>Search Results (Left)</h2>
        <div>These are search results for <div class = 'label label-default'>{{searchTerm}}</div></div>

        <div class = 'text-muted'>Scroll around on the left to see more info on each result</div>
        <ul>
        <li ng-repeat='golink in golinks | orderBy:"-num_clicks"'><a href = '{{golink.url}}'>{{golink.key}}</a>: {{golink.num_clicks}}</li>
        </ul> 
      </div>


      
      
    </div>
</div>
